/* Style */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

 /*Header */
 header {
     height: 100px;
     margin-bottom: 10px;
     background-color: orange;
 }

/*container */

.container {
    height: 500px;
    margin-bottom: 10px;
    background-color: orangered;
}